.flex-container {
  display: flex;
  height: 100vh;
}

.main-container {
  height: 100vh;
}
.sidebar-content {
  height: 100vh;
}
.on-hover-pointer{
  cursor: pointer;
}
.center-text{
  text-align: center
}
.side-bar{

}
.content{
  border-left: 1px solid #ededed;
}